PROJECT_URL=
PUBLISHABLE_KEY=
DIRECT_CONNECTION_STRING=
SECRET_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
ADMIN_EMAIL=
PASSWORD=
NEXT_PUBLIC_PHONE=
RESEND_API_KEY=
GUIDE_EMAIL=
FROM_EMAIL=
DEPLOY_HOST=
DEPLOY_PORT=
DEPLOY_USER=
REMOTE_DIR=
PM2_NAME=canoe-wey
